@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500;700&family=Roboto:wght@100;300;500;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Jura:wght@500;600;700&family=Sigmar+One&display=swap'); */

:root {
  --theme-color-1: #127595;
  --theme-color-2: #37b89a;
  --main-color: #61a8df;
  --main-color-bolder: #155f7c;
  --main-color-2: white;
  --hightlight-color: #37b89a;
  --main-font: 'Roboto', sans-serif;
  --main-header-font: 'Prompt', sans-serif;
  --warning: #ffcc29;
  --danger: #f05945;
  --success: #02af92;
  --primary: #59c4c0;
}
* {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html{
  overflow-x: hidden !important;
}

/* custom css bootstrap */
i {
  color: var(--main-color);
}

a {
  text-decoration: none !important;
  color: #ffffff !important;
}
label {
  color: var(--main-color);
  font-size: 85% !important;
}
input {
  border: 1px solid var(--main-color) !important;
  font-size: 80% !important;
}
input:focus {
  box-shadow: none !important;
  border: 1px solid var(--main-color);
}
button {
  z-index: 10 !important;
}
button:focus {
  box-shadow: none !important;
}
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: var(--success) !important;
   box-shadow: none;
 }
.header {
  font-family: var(--main-header-font);
}
.far,
.fas,
.fab {
  color: var(--main-color);
}
.text-theme {
  color : var(--success) !important;
}
.btn-success {
  background-color: var(--success) !important;
  border-color: var(--success) !important;
}
.btn-success-change {
  background-color: #ffffff !important;
  border-color: var(--success) !important;
  color:  var(--success) !important;
}
.btn-danger {
  background-color: var(--danger) !important;
  border-color: var(--danger) !important;
}
.btn-warning {
  background-color: var(--warning) !important;
  border-color: var(--warning) !important;
}

.btn-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}
.btn-primary-change {
  background-color: #ffffff !important;
  border-color: var(--primary) !important;
  color:  var(--primary) !important;
}

/* css */

.background {
  background: rgb(35, 144, 136);
  background: linear-gradient(90deg,
          rgba(35, 144, 136, 1) 4%,
          rgba(49, 180, 170, 1) 59%,
          rgba(33, 212, 212, 1) 89%);
}
.home-title {
  line-height: 65px;
  font-size: 2.5em;
  font-weight: 900;
  letter-spacing: 0.05em;
}
.home-content {
  padding-left: 5%;
}
.home-content li {
  list-style-type: none;
  font-size: 1.2em;
}
.home-content li i {
  color: #fba319 !important;
  padding-right: 2%;
  font-size: 150%;
}
.home-container {
  height: calc( 100vh - 56px);
}
.home-button {
  background-color: #fba319 !important;
}
@media ( max-width: 576px) {

  .home-title {
    font-size: 6.1vw;
    line-height: 45px;
  }
  .home-content li {
    font-size: 0.9em;
  }
}


/* hover title  */
.title {
  position: relative;
  width: fit-content;
  font-weight: 900;
  font-size: 200%;
  margin: auto;
  overflow-x: hidden;
  padding-top: 3%;
}
.title::before {
  content: '';
  background-color: var(--hightlight-color);
  width: 0;
  height: 50%;
  position: absolute;
  z-index: -1;
  top: 50%;
  opacity: 0.3;
  transition: all 0.6s ease-in-out;
}

.title:hover .title::before {
  width: 100%;
}
.list:hover .title::before {
  width: 100%;
}
/*  custom button*/
.btn-custom {
  background-color: var(--main-color) !important;
  color: var(--main-color-2) !important;
  transition: 0.2s all ease-in-out !important;
}

/* form card */
.form-card {
  border-radius: 15px !important;
}
.form-header {
  width: fit-content;
  font-weight: 900;
  font-size: 180%;
  margin: auto;
}

/* tra cuu thong tin  */
.packet {
  border-radius: 15px !important;
}

.packet-name {
  color: var(--main-color);
  font-size: 150%;
  font-weight: 300;
}

.packet-price {
  color: var(--main-color-bolder);
  font-size: 180%;
  font-weight: 900;
}
/* history table */
.bg-table {
  background: rgb(35, 144, 136);
  background: linear-gradient(90deg,
          rgba(35, 144, 136, 1) 4%,
          rgba(49, 180, 170, 1) 59%,
          rgba(33, 212, 212, 1) 89%);
  border-radius: 15px !important;
  color: white;
  padding: 5%;
}
.bg-table i {
  color: var(--main-color-2);
}
/* responsive table */
@media screen and (max-width: 576px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}


/* USER INFOR */
.header {
  font-size: 3vw;
  color: var(--main-color);
}
.left-packet {
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}
.left-packet .header {
  font-size: 2vw;
}

.fa-gift {
  font-size: 9vw;
}
@media (max-width: 768px) {
  .left-packet {
    border-radius: 15px !important;
  }
  .fa-gift {
    font-size: 18vw;
  }
  .header {
    font-size: 5vw;
  }
  .left-packet .header {
    font-size: 5vw;
  }
}
/* list packet */
.packet-name {
  color: var(--main-color);
  font-size: 150%;
  font-weight: 300;
}

.packet-price {
  color: var(--main-color-bolder);
  font-size: 180%;
  font-weight: 900;
}

/* full screen */
.full-screen {
  height: 100vh;
  width: 100vw;
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .full-screen {
    height: fit-content;
    min-height: 700px;
  }
}

/* sign up */
.header {
  font-size: 3vw;
  color: var(--main-color);
}
.registered-packet .header {
  font-size: 2vw;
}
.registered-packet {
  background: #007991; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #78ffd6,
    #007991
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #78ffd6,
    #007991
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}
.btn-custom {
  background-color: var(--main-color);
  font-size: 125%;
}
.btn-custom-2 {
  border: 1px solid var(--main-color-2);
}
.fa-gift {
  font-size: 9vw;
}
@media (max-width: 768px) {
  .registered-packet {
    border-radius: 15px !important;
  }
  .fa-gift {
    font-size: 18vw;
  }
  .header {
    font-size: 5vw;
  }
  .registered-packet .header {
    font-size: 5vw;
  }
}