<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> S-Team | Hệ thống tra cứu lịch sử gửi xe</title>
    <meta property="og:title" content="S-Team | Hệ thống tra cứu lịch sử gửi xe">
    <meta property="og:url" content="https://he-thong-gui-xe.herokuapp.com/">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Hệ thống tra cứu lịch sử gửi xe.
         Đăng kí cái gói gửi xe theo tháng, tiết kiệm thời gian thanh toán trực tiếp. 
         Nhận thông báo khi xe checkout.
       ">
    <meta property="og:image" content="https://sgroupvn.org/thumbnail.png">
    <meta property="twitter:title" content="S-Team | Hệ thống tra cứu lịch sử gửi xe">
    <meta property="twitter:description" content="Hệ thống tra cứu lịch sử gửi xe.
            Đăng kí cái gói gửi xe theo tháng, tiết kiệm thời gian thanh toán trực tiếp. 
            Nhận thông báo khi xe checkout.">
    <meta property="twitter:image" content="https://sgroupvn.org/thumbnail.png">
<meta og:locale="vi" >
<body>

</body>

</html>