/* background home animate */
.area{
  width: 100%;
  height:0px;
  z-index: 0;
}

.circles{
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  z-index: 0;
  position: absolute;
  display: block;
  list-style: none;
  width: 10px;
  height: 10px;
  /* background: rgba(255, 255, 255, 0.2); */
  background: rgb(146, 213, 224);
  animation: animate 15s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1){
  left: 25%;
  width: 5px;
  height: 15px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 13px;
  height: 13px;
  animation-delay: 2s;
  animation-duration: 5s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 15px;
  height: 2px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 10px;
  height: 10px;
  animation-delay: 0s;
  animation-duration: 6s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 10px;
  height: 10px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 15px;
  height: 10px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 10px;
  height: 15px;
  animation-delay: 4s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 15px;
  height: 10px;
  animation-delay: 15s;
  animation-duration: 5s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 6s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 10px;
  height: 15px;
  animation-delay: 0s;
  animation-duration: 5s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}



/* shake animate  */
/* .img-time {
  animation-delay: 1s;
  animation: shake 2.4s;
  animation-iteration-count: infinite;
} */

/* shake animate for button see packets */
.see-packet {
  animation-delay: 1s;
  animation: shake 1s;
  animation-iteration-count: infinite;
  z-index: 5;
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(5deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  45% {
    transform: rotate(4deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(2deg);
  }
  85% {
    transform: rotate(-2deg);
  }
  92% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0);
  }
}

