<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<welcome-file-list>
		<welcome-file>templates/pages/home/home.jsp</welcome-file>
	</welcome-file-list>
	
	<listener>
        <listener-class>
                 hovanvy.common.listener.MyServletContextListener
        </listener-class>
    </listener>
	
	<!-- REST API -->
	<servlet>
		<servlet-name>Email REST Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>hovanvy.rest.email.controllers</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Email REST Service</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
		</jsp-property-group>
	</jsp-config>

	<!-- 14 days -->
	<session-config>
		<session-timeout>20160</session-timeout>
	</session-config>

	<error-page>
		<error-code>404</error-code>
		<location>/templates/pages/error/404.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/templates/pages/error/500.jsp</location>
	</error-page>

	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/error</location>
	</error-page>

	<error-page>
		<exception-type>java.io.Exception</exception-type>
		<location>/error</location>
	</error-page>

	
</web-app>
